.section-header {
    display: block;
    font-size: x-large;
    border-bottom: 2px solid;
    padding: 10px;
    margin: 10px 10px;
}

.section-header:hover {
    background-color: var(--mantine-color-gray-0);
    border-radius: 5px;
}

[data-mantine-color-scheme="dark"] .section-header:hover {
    background-color: var(--mantine-color-dark-6);
}

.section {
    transition: max-height 0.3s ease-out;
    max-height: 100em;
    overflow: hidden;
    margin: 15px 15px;
}

.section-header + .section.collapsed {
    transition: max-height 0.3s ease-in;
    max-height: 0;
}

.section > * {
    margin: auto;
}

.mantine-active.disable-active:active {
    transform: none;
}

.simple-button {
    display: block;
    margin: auto;

    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    background-color: #e6194B;
}

.simple-button:hover {
    filter: brightness(85%);

    border: 2px solid black;
    border-color: black;
}

.hbox, .vbox {
    display: flex;
    justify-content: center;
}

.hbox > *, .vbox > * {
    flex: 0 0 auto;
}

.log-cont {
    height: 30ex;
    overflow-y: scroll;
    padding: 10px;
}

.log {
    border: 1px;
}

.grid {
    display: grid;
    row-gap: 1em;
}

.card-list {
    display: grid;
    row-gap: 0em;

    /* header */
    & > div:first-of-type {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;

        padding-bottom: 5px;
        font-weight: bold;

        & > div {
            align-content: baseline;
        }
    }

    & > * {
        padding: 10px;
    }

    & > div > div {
        align-content: center;
    }
}

.card {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    background-color: var(--mantine-primary-color-2);
    border-radius: 0;

    &:hover {
        background-color: var(--mantine-primary-color-3);
    }
}

.card-body {
    grid-column: 1 / -1;
    background-color: var(--mantine-primary-color-5);
    color: var(--mantine-color-white);
}

