.plot-cont {
    width: 100%;
}

.plot {
    display: inherit;

    stroke-width: 2px;
    fill: var(--mantine-color-bright,black);
    stroke: var(--mantine-color-bright,black);
}

.plot text {
    stroke: none;
}

.plot-line { }

.plot-marker {
    fill: var(--mantine-color-bright,black);
    stroke: none;
}

.bot-axis, .top-axis, .left-axis, .right-axis {
    font-size: 18px;
    user-select: none;

    text-anchor: middle;
}
.left-axis .tick {
    text-anchor: end;
}
.right-axis .tick {
    text-anchor: start;
}

.axis-label { }

.axis-cont { }

.axis-box {
    stroke: var(--mantine-color-bright,black);
    fill: var(--mantine-color-default,white);
}

.axis-clip { }

.zoom { }

.plot .scalebar, .plot .scalebar text {
    fill: white;
    stroke: black;
    stroke-width: 1.5px;

    font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
    font-size: 24px;
    font-weight: 1000;
    user-select: none;
}