{% extends "base.html" %}
{% block title %}Phaser frontend{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='bundle-manager.js') }}" defer></script>
{% endblock %}

{% block body %}
  <div id="app"></div>
  <!--<div class="section-header">Start new reconstruction</div>
  <div class="section">
    <button id="start">Start reconstruction</button>
    <button id="start-fake">Start fake reconstruction</button>
  </div>
  <div class="section-header">Current reconstructions</div>
  <div class="section">
    <table id="recons-table"></table>
  </div>-->
{% endblock %}